*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type:none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/*navbar coding*/
.headpart,.ul-li,.list1,a{
display:inline-block;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
background-image: url(./images1.jpeg);
color:white;
height:400px;
width:100%;
}
a,.headpart{
color: white;
text-decoration:none;
list-style-type: disc;
}
.list1,i{
padding:18px;
font-size:15px;
}
.headpart{
padding-top: 15px;
font-size: 20px;
padding-left:15px;
font-weight: bold;
}
.ul-li{
margin-left:20%;
}
.headpart1{
  margin-top: 50px;
margin-left: 42%;
font-size: 20px;
}
.headpart2{
margin-left: 35%;
font-size: 40px;
margin-top: 10px;
}
.para{
margin-left: 170px;
margin-top: 20px;
}
.button-style{
margin-left: 40%;
margin-top: 60px;
padding: 8px 40px 8px 40px;
border-radius: 200px 200px 0px 200px;
}
/*SECTION COADING*/
.headparts-1{
height: 50px;
margin-top:30px;
margin-left: 40%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.para1{
margin-left:12%;
}
.img-box{
height:70px;
color:white;
background-color:black ;
border-radius:50%;
padding:20px;
}
.img-box:hover{
background-color:orange;
}
.do_container{
display:flex;
justify-content:space-evenly;
margin-top:25px;
margin-left:50px;
padding: auto;
}
.detail-box{
margin-left: 12%;
margin-top: 20px; 
}
.box shadow{
padding:10px;
}
.detail-box{
  font-size: 20px;
}
/* heading container coding*/
.heading-container{
margin-top:20px;
float:left;
}
.headpart-3{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 70px;
margin-left:60%;
font-weight: bolder;
font-size: 25px;
}
.button-style1{
color: white;
background-color: black;
margin-left:22%;
margin-top:5px;
padding: 4px 20px 4px 20px;
border-radius: 200px 200px 0px 200px;
}
.para3{
  height: 200px;
  width: 400px;
margin-top: 20px;
margin-left:55%;
text-align:justify
}
/*work section coading*/
.work_section{
margin-top:40px;
}
.head_container{
margin-left:40px;
}
.head-3{
  margin-bottom: 20px;
  margin-top: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.layout_padding{
display: flex;
flex-wrap: wrap;
margin-left: 120px;
margin-top: 30px;
}
.box-1{
margin-left:50px;
margin-top: 10px;
}
.box-2{
margin-top:10px;
}
.box-3{
position:absolute;
margin-top:200px;
margin-left:50px;
}
.box-4{
position: absolute;
margin-left:320px;
margin-top: 200px;
}
/*customer says coading*/
.headpart4{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top:250px;
margin-left:30%;
}
.clint-section{
height: 300px;
width: 200px;
margin-top:30px;
display:inline-block;
margin-left: 115px;
padding: 10px;

}
.clint-sec{
  height: 300px;
width: 200px;
margin-top:30px;
display:inline-block;
margin-left: 115px;
padding: 10px;
box-shadow:10px 20px 20px 10px lightgray ;

}
.clint-section,.clint-sec:hover{
 background-color:wheat;
 opacity: 1.0;
 transition: all 0.5s ease;
}
.photo{
margin-top: 10px;
position:relative;
left:60px;
}
.headpart5,.para-5{
  margin-top: 5px;
text-align: center;
}
.photos{
position:relative;
left:70px;
margin-top: 20px;
margin-bottom:20px;
}
/*number coading*/
.number{
height: 100px;
width:100%;
margin-top:10px;
margin-bottom: 10px;
background-color: black;
color: white;
display: flex;
align-items:center; 
justify-content:space-evenly;
}
/*form coading*/
.req-head{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 40px;
margin-left: 30%;
}
.forms{
margin-top: 25px;
margin-left:25%;
padding: 7px;
border-radius: 50px;
border-width: 1px;
color: rgb(116, 108, 108);
}
textarea{
align-content: center;
margin-left:25%;
border-radius:20px;
padding: 10px;
}
.button-1{
background-color:rgb(244, 165, 20);
margin-top: 20px;
margin-left: 42%;
padding: 6px 25px 6px 25px;
border-radius: 20px;
font-size: 14px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.map{
margin-top: 30px;
margin-left: 18%;
}
/*footer part coading*/
.foot{
  height: 200px;
  width: 100%;
  background-color: black;
  color:white ;
  margin-top:40px;
  display:flex;
  justify-content:centre;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-about{
  margin-top:40px;
  margin-left: 50px;
}
.foot-img{
  margin-top: 20px;
  display: flex;
justify-content: center;
margin-left: 5px;
}
.list-items1,.list-items2,.list-items3,.list-items4,.list-items5,.list-items6{
  background-color: white;
  color: white;
  margin:0px 2px 0px 2px;
  padding: 0px 2px 0px 2px;
  margin-top: 5px;
}
.bottom-row{
display: flex;
}
.foot-button{
  color:white;
  background-color: orange;
  padding: 5px 10px 5px 10px;
}
.foot-button:hover{
  background-color:black;
  color:orange;
}
.forms1{
  padding: 5px 10px 5px 10px;
 outline: none;
}
.icon{
display: flex;
}
.laste-sec{
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
}
.laste-a{
  margin-left: 30%;
}
